
.fruit{
    border: 4px solid cornflowerblue;
    height: 250px;
    width: 250px;
    padding: 20px;
    font-size: 30px;
    font-weight: 600;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.table{
    display: flex;
    justify-content: space-around;
    padding: 50px;
    align-items: center;
}
